
QueueProcessor1/.vs/QueueProcessor1/v15/Server/sqlite3/db.lock
QueueProcessor1/.vs/QueueProcessor1/v15/Server/sqlite3/storage.ide
QueueProcessor1/.vs/QueueProcessor1/v15/Server/sqlite3/storage.ide-shm
QueueProcessor1/.vs/QueueProcessor1/v15/Server/sqlite3/storage.ide-wal
