
QueueProcessor1/.vs/QueueProcessor1/v15/Server/sqlite3/db.lock
QueueProcessor1/.vs/QueueProcessor1/v15/Server/sqlite3/storage.ide
QueueProcessor1/.vs/QueueProcessor1/v15/Server/sqlite3/storage.ide-shm
QueueProcessor1/.vs/QueueProcessor1/v15/Server/sqlite3/storage.ide-wal
QueueProcessor1/QueueProcessor1/obj/Debug/QueueProcessor1.csproj.CoreCompileInputs.cache
QueueProcessor1/QueueProcessor1/obj/Debug/QueueProcessor1.csproj.CoreCompileInputs.cache
QueueProcessor1/.vs/QueueProcessor1/v15/.suo
QueueProcessor1/.vs/QueueProcessor1/v15/.suo
QueueProcessor1/QueueProcessor1/obj/Debug/QueueProcessor1.csproj.CoreCompileInputs.cache
QueueProcessor1/QueueProcessor1/obj/Debug/QueueProcessor1.csproj.CoreCompileInputs.cache
